/*************************************************
*
* _button
*
**************************************************/

.button{
  font-size: rem(12);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  text-align: center;
  min-height: 48px;
  padding: 0 16px;
  background-color: $color-blue;
  width: 100%;
  border-radius: $border-radius-default;
  cursor: pointer;
  outline: none;
  transition: all ease-in .2s;
  &:hover{
    background-color: darken($color-blue, 3%)
  }
  &:active{
    background-color: darken($color-blue, 5%)
  }
}