.swiper-container {
  width: 100%;
  height: auto;
  margin-top: 32px;
  margin-bottom: 86px;
  overflow: visible;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -32px;
}

.swiper-pagination-white .swiper-pagination-bullet-active{
  background: $color-blue;
}

.swiper-slide {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  &__img {
    padding-top: 58.5%;
    background-size: cover;
    border-radius: 2px;
    background-color: #EAECEC;
    background-position: 50% 50%;
    -ms-transform: scale(1);
    transform: scale(1);
    transition: transform 2.5s ease;
    overflow: hidden;
  }
  .row {
    display: block;
  }
  &__title {
    background: rgba(255, 255, 255, 1);
    padding: 24px 65px;
    display: block;
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 90%;
    // box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.03);
    transition: all ease-in .5s;
    border-radius: $border-radius-default;
    &:hover {
      box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05);
      background: rgba(255, 255, 255, 1);
      a {
        background-size: 100% 3px;
      }
    }
    a{
      color: $color-ink;
      font-weight: bold;
      font-size: 32px;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      background-image: linear-gradient(to right, rgb(31, 45, 61) 0%, rgb(31, 45, 61) 100%);
      background-position: 0px 95%;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
  &__date {
    font-size: rem(16);
    color: $color-blue;
    margin-bottom: 12px;
  }
}

.swiper-slide-active {
  .swiper-slide__title { 
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.05);
  }
}