/*************************************************
*
* _base
*
**************************************************/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  color: #1F2D3D;
  background-color: #fff;
  font-family: 'Circular', Arial, Helvetica, sans-serif;
  font-size: rem(16);
  font-weight: 400;
}

a{
  text-decoration: none;
}

.wrap-container {
  background-color: #F9FAFC;
  margin: 0 24px 24px 24px;
  display: block;
}

img{
  max-width: 100%;
}

.section {
  padding-top: 48px;
  &-title {
    font-size: 20px;
    color: #0B396D;
    margin-bottom: 24px;
  }
}

.text-link{
  font-size: 16px;
  color: #248AFF;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 500;
}

.widget {
  display: block;
  margin-bottom: 32px;
  .banner {
    margin-bottom: 12px;
    display: block;
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.text-see-more{
  position: absolute;
  font-size: rem(14);
  color: $color-blue;
  text-decoration: none;
  top: 6px;
  right: 20px;
}


// CSS Helper
.text-white {
  color: $color-white;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-24 {
  margin-bottom: 24px;
}
.float-right {
  float: right;
}