<div class="main">
  <div class="wrap-container">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <div class="section content">
            <!-- meta title -->
            <div class="content-group-meta">
              <h2 class="content__title">
                Rencana Rekrutmen P3K Tahap I, Kepala BKN: Pemerintah Prioritaskan Tiga Bidang
              </h2>
              <div class="content-info">
                <div class="content-info__left">
                  <div class="content-meta">
                    <span>Oleh <bold>Humas</bold></span>
                  </div>
                  <div class="content-meta">
                    <span>Dipublikasikan pada <bold>23 Jan 2019</bold></span>
                  </div>
                </div>
                <div class=content-info__right">
                  <div class="content-meta">
                    <bold>Dibaca 1.902 kali</bold>
                  </div>
                </div>
              </div>
            </div>
            <!-- image content -->
            <div class="content__img" style="background-image:url(./images/img_news.png)"></div>
            <!-- caption -->
            <div class="content__img-caption">
              Presiden Jokowi didampingi Wakil Presiden Jusuf Kalla dan Mensesneg
              bersiap memimpin Sidang Kabinet Paripurna, di Kantor Presiden, Jakarta, Rabu (6/3) siang. (Foto:
              Agung/Humas)
            </div>
            <!-- group text -->
            <div class="content-group-text">
              <!-- share social media -->
              <div class="content__share">
                <div class="inner">
                  <img src="./images/ico_twitter_color.svg" alt="">
                  <img src="./images/ico_facebook_color.svg" alt="">
                  <img src="./images/ico_share_color.svg" alt="">
                </div>
              </div>
              <!-- content text -->
              <div class="content__text">
                <p>Kebijakan Pegawai Pemerintah dengan Perjanjian Kerja (P3K) telah dirampungkan dengan terbitnya
                  Peraturan Pemerintah Nomor 49 Tahun 2018 tentang Manajemen P3K.</p>
                <p>Secara teknis, Kepala Badan Kepegawaian Negara (BKN) Bima Haria Wibisana menyampaikan bahwa untuk
                  pengadaan P3K tahap I tahun 2019, Pemerintah prioritaskan rekrutmen pada tiga bidang yakni Tenaga
                  Pendidikan, Tenaga Kesehatan, dan Penyuluh Pertanian.</p>
                <p>Untuk mekanisme seleksinya, Kepala BKN menyatakan metode rekrutmen P3K tidak akan jauh berbeda
                  dengan Calon Pegawai Negeri Sipil (CPNS).</p>
                <p>Kebijakan Pegawai Pemerintah dengan Perjanjian Kerja (P3K) telah dirampungkan dengan terbitnya
                  Peraturan Pemerintah Nomor 49 Tahun 2018 tentang Manajemen P3K.</p>
                <p>
                  ”Instrumen seleksinya masih sama dengan menggunakan sistem  (CAT) dan portal pendaftaran dilakukan
                  terintegrasi dengan portal Sistem Seleksi Calon Aparatur Sipil Negara (SSCASN),” imbuhnya saat
                  memaparkan perihal kebijakan teknis pengadaan P3K dalam kegiatan sosialisasi yang digelar Kementerian
                  Pendayagunaan Aparatur Negara dan Reformasi Birokrasi pada Rabu, (23/01) di Batam.
                </p>
                <p>
                  Kepala BKN juga menuturkan tanda identitas P3K akan disamakan dengan PNS lewat penetapan Nomor Induk
                  Pegawai (NIP).
                </p>
                <p>
                  Selanjutnya, lanjut Bima, perihal syarat batas usia pelamar tidak terpaku pada aturan maksimal 35
                  tahun seperti CPNS.
                </p>
                <p>
                    Sebaliknya, maksimal usia pelamar P3K paling tinggi 1 tahun sebelum batas usia pensiun pada jabatan yang akan dilamar, dan untuk perjanjian kerja, PP 49/2018 mengakomodasi masa hubungan kerja paling singkat 1 tahun dan perpanjangan didasarkan pada pencapaian kinerja dan kebutuhan instansi.
                </p>
                <p>
                    Sebagai informasi, aturan teknis dari PP 49/2018 yang akan diteruskan melalui Peraturan MenPANRB dan Peraturan BKN masih dalam proses penyelesaian.
                </p>
                <p>
                    Untuk pelaksanaan P3K tahap I Tahun 2019 dilakukan setelah masing-masing instansi selesai lakukan perhitungan kebutuhan dan menyampaikannya kepada KemenPANRB dan BKN. (Humas BKN/EN)
                </p>
              </div>
            </div>
            <!-- next article -->
            <div class="content-next">
              <p>Berita Selanjutnya:</p>
              <p><a href="#">Menkominfo: Pembatasan ‘Forward’ Whatsapp Agar Hoaks Tidak Jadi Viral</a></p>
            </div>
            <!-- content review -->
            <div class="content-reaction">
              <p><bold>Bagaimana kepuasan Anda mengenai berita ini?</bold></p>
              <div class="reaction">
                <div class="reaction__item">
                  <img class="reaction__img" src="./images/img_angry.svg" alt="">
                  <div class="reaction__label">Sangat Tidak Puas</div>
                </div>
                <div class="reaction__item">
                  <img class="reaction__img" src="./images/img_sad.svg" alt="">
                  <div class="reaction__label">Kurang Puas</div>
                </div>
                <div class="reaction__item">
                  <img class="reaction__img" src="./images/img_neutral.svg" alt="">
                  <div class="reaction__label">Biasa Saja</div>
                </div>
                <div class="reaction__item">
                  <img class="reaction__img" src="./images/img_lough.svg" alt="">
                  <div class="reaction__label">Cukup Puas</div>
                </div>
                <div class="reaction__item">
                  <img class="reaction__img" src="./images/img_love.svg" alt="">
                  <div class="reaction__label">Sangat Puas</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="section">
            <div class="widget">
              <h2 class="section-title">Berita Terbaru</h3>
              <!-- list article -->
              <div class="card-article--list">
                <div class="img" style="background-image:url(./images/img_news.png)"></div>
                <div class="text">
                  <a href="#" class="title">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  <div class="date">23 Jan 2019</div>
                </div>
              </div>
              <div class="card-article--list">
                <div class="img" style="background-image:url(./images/img_news.png)"></div>
                <div class="text">
                  <a href="#" class="title">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  <div class="date">23 Jan 2019</div>
                </div>
              </div>
              <div class="card-article--list">
                <div class="img" style="background-image:url(./images/img_news.png)"></div>
                <div class="text">
                  <a href="#" class="title">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  <div class="date">23 Jan 2019</div>
                </div>
              </div>
              <div class="card-article--list">
                <div class="img" style="background-image:url(./images/img_news.png)"></div>
                <div class="text">
                  <a href="#" class="title">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  <div class="date">23 Jan 2019</div>
                </div>
              </div>
              <div class="card-article--list">
                <div class="img" style="background-image:url(./images/img_news.png)"></div>
                <div class="text">
                  <a href="#" class="title">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  <div class="date">23 Jan 2019</div>
                </div>
              </div>
            </div>
            <div class="widget">
              <h2 class="section-title">Pengumuman</h3>
              <a class="banner" href="#">
                <img src="./images/banner-pengumuman.png" alt="">
              </a>
              <a href="#" class="text-link">Pengumuman lainnya</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="row">
          <div class="col-12">
            <h2 class="section-title">Berita Terkait</h3>
          </div>
          <div class="col-3">
            <div class="card-article card-article--cover is-tall">
              <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
              <h2 class="card-article__title">
                <a href="#">Peresmian Program Wirausaha ASN dan Pensiunan, 16 Januari 2019, di Sentul Internasional</a>
              </h2>
              <div class="card-article__date">23 Jan 2019</div>
            </div>
          </div>
          <div class="col-3">
            <div class="card-article card-article--cover is-tall">
              <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
              <h2 class="card-article__title">
                <a href="#">Peresmian Program Wirausaha ASN dan Pensiunan, 16 Januari 2019, di Sentul Internasional</a>
              </h2>
              <div class="card-article__date">23 Jan 2019</div>
            </div>
          </div>
          <div class="col-3">
            <div class="card-article card-article--cover is-tall">
              <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
              <h2 class="card-article__title">
                <a href="#">Peresmian Program Wirausaha ASN dan Pensiunan, 16 Januari 2019, di Sentul Internasional</a>
              </h2>
              <div class="card-article__date">23 Jan 2019</div>
            </div>
          </div>
          <div class="col-3">
            <div class="card-article card-article--cover is-tall">
              <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
              <h2 class="card-article__title">
                <a href="#">Peresmian Program Wirausaha ASN dan Pensiunan, 16 Januari 2019, di Sentul Internasional</a>
              </h2>
              <div class="card-article__date">23 Jan 2019</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>