<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-4">
            <div class="footer__title">
              Dukungan
            </div>
            <p class="footer__link">
              <a href="#">Aspirasi Publik</a>
            </p>
            <p class="footer__link">
              <a href="#">Beri Masukan</a>
            </p>
            <p class="footer__link">
              <a href="#">Kontak</a>
            </p>
          </div>
          <div class="col-4">
            <div class="footer__title">
              Informasi
            </div>
            <p class="footer__link">
              <a href="#">SIP2T</a>
            </p>
            <p class="footer__link">
              <a href="#">Pengumuman</a>
            </p>
            <p class="footer__link">
              <a href="#">Link Lembaga</a>
            </p>
          </div>
          <div class="col-4">
            <div class="footer__title">
              Pemerintah
            </div>
            <p class="footer__link">
              <a href="#">Pidato Presiden</a>
            </p>
            <p class="footer__link">
              <a href="#">Profile Kabinet</a>
            </p>
          </div>
          <div class="col-4">
            <div class="footer__title">
              Lainnya
            </div>
            <p class="footer__link">
              <a href="#">Permohonan Informasi Hasil Liputan</a>
            </p>
            <p class="footer__link">
              <a href="#">Government Public Relation</a>
            </p>
            <p class="footer__link">
              <a href="#">Reformasi Birokrasi Setkab</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="footer__title">
          Berlangganan
        </div>
        <p class="footer__link">
          Jangan lewatkan berita terbaru oleh Sekretariat Kabinet Republik Indonesia
        </p>
        <form>
          <div class="textfield">
            <input class="textfield__inner" type="text" placeholder="Alamat Email">
          </div>
          <button class="button mb-24" type="submit">Berlangganan</button>
        </form>
        <p class="footer__link">
          <span class="text-white">Sekretariat Kabinet Indonesia</span> </br>
          Jl. Veteran No. 18 Jakarta Pusat </br>
          +621 867 000
        </p>
      </div>
      <div class="col-12">
        <div class="footer__copyright">Copyright © 2019 Sekretariat Kabinet Republik Indonesia</div>
      </div>
    </div>
  </div>
</div>

<!-- JS -->
<script src="./js/swiper.min.js"></script>
<script src="./js/script.js"></script>

</script>

</body>
</html>
