<div class="main">
  <div class="wrap-container">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col-9">
            <div class="row">
              <div class="col-12">
                <h2 class="section-title">Berita Terbaru</h3>
              </div>
              <div class="col-6">
                <div class="card-article">
                  <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
                  <h2 class="card-article__title">
                    <a href="./detail-artikel.html">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  </h2>
                  <p class="card-article__desc">Presiden Joko Widodo (Jokowi) meminta para nelayan agar memanfaatkan bank mikro nelayan untuk modal kerja, untuk modal investasi.</p>
                  <div class="card-article__date">23 Jan 2019</div>
                </div>
              </div>
              <div class="col-6">
                <div class="card-article">
                  <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
                  <h2 class="card-article__title">
                    <a href="./detail-artikel.html">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  </h2>
                  <p class="card-article__desc">Presiden Joko Widodo (Jokowi) meminta para nelayan agar memanfaatkan bank mikro nelayan untuk modal kerja, untuk modal investasi.</p>
                  <div class="card-article__date">23 Jan 2019</div>
                </div>
              </div>
              <div class="col-6">
                <div class="card-article">
                  <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
                  <h2 class="card-article__title">
                    <a href="./detail-artikel.html">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  </h2>
                  <p class="card-article__desc">Presiden Joko Widodo (Jokowi) meminta para nelayan agar memanfaatkan bank mikro nelayan untuk modal kerja, untuk modal investasi.</p>
                  <div class="card-article__date">23 Jan 2019</div>
                </div>
              </div>
              <div class="col-6">
                <div class="card-article">
                  <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
                  <h2 class="card-article__title">
                    <a href="./detail-artikel.html">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  </h2>
                  <p class="card-article__desc">Presiden Joko Widodo (Jokowi) meminta para nelayan agar memanfaatkan bank mikro nelayan untuk modal kerja, untuk modal investasi.</p>
                  <div class="card-article__date">23 Jan 2019</div>
                </div>
              </div>
              <div class="col-6">
                <div class="card-article">
                  <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
                  <h2 class="card-article__title">
                    <a href="./detail-artikel.html">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  </h2>
                  <p class="card-article__desc">Presiden Joko Widodo (Jokowi) meminta para nelayan agar memanfaatkan bank mikro nelayan untuk modal kerja, untuk modal investasi.</p>
                  <div class="card-article__date">23 Jan 2019</div>
                </div>
              </div>
              <div class="col-6">
                <div class="card-article">
                  <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
                  <h2 class="card-article__title">
                    <a href="./detail-artikel.html">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  </h2>
                  <p class="card-article__desc">Presiden Joko Widodo (Jokowi) meminta para nelayan agar memanfaatkan bank mikro nelayan untuk modal kerja, untuk modal investasi.</p>
                  <div class="card-article__date">23 Jan 2019</div>
                </div>
              </div>
              <div class="col-6">
                <div class="card-article">
                  <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
                  <h2 class="card-article__title">
                    <a href="./detail-artikel.html">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  </h2>
                  <p class="card-article__desc">Presiden Joko Widodo (Jokowi) meminta para nelayan agar memanfaatkan bank mikro nelayan untuk modal kerja, untuk modal investasi.</p>
                  <div class="card-article__date">23 Jan 2019</div>
                </div>
              </div>
              <div class="col-6">
                <div class="card-article">
                  <div class="card-article__img" style="background-image:url(./images/img_news.png)"></div>
                  <h2 class="card-article__title">
                    <a href="./detail-artikel.html">Lanud Gatot Subroto di Waykanan Lampung Ditargetkan Beroperasi Maret Ini</a>
                  </h2>
                  <p class="card-article__desc">Presiden Joko Widodo (Jokowi) meminta para nelayan agar memanfaatkan bank mikro nelayan untuk modal kerja, untuk modal investasi.</p>
                  <div class="card-article__date">23 Jan 2019</div>
                </div>
              </div>
              <!-- pagination -->
              <div class="col-12">
                <div class="pagination">
                  <a href="#" class="pagination__item is-active">1</a>
                  <a href="#" class="pagination__item">2</a>
                  <a href="#" class="pagination__item">3</a>
                  <a href="#" class="pagination__item">4</a>
                  <a href="#" class="pagination__item">...</a>
                  <a href="#" class="pagination__item">6</a>
                  <a href="#" class="pagination__item">7</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="widget">
              <h2 class="section-title">Pengumuman</h3>
              <a class="banner" href="#">
                <img src="./images/banner-pengumuman.png" alt="">
              </a>
              <a href="#" class="text-link">Pengumuman lainnya</a>
            </div>
            <div class="widget">
              <h2 class="section-title">Arsip</h3>
              <div class="dropdown">
                <select class="dropdown__inner">
                  <option value="1">Maret 2019</option>
                  <option value="2">Februari 2019</option>
                  <option value="3">Januari 2019</option>
                  <option value="4">Desember 2018</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>