<div class="section">
  <div class="row">
    <div class="col-3 center">
      <a href="#" class="card-info">
        <img src="../../images/ico_perundagan.svg" alt="" class="card-info__img">
        <div class="card-info__text">Sistem Informasi Perundang-Undangan</div>
      </a>
    </div>
    <div class="col-3 center">
      <a href="#" class="card-info">
        <img src="../../images/ico_pengesahan.svg" alt="" class="card-info__img">
        <div class="card-info__text">Pengesahan Perjanjian Internasional</div>
      </a>
    </div>
    <div class="col-3 center">
      <a href="#" class="card-info">
        <img src="../../images/ico_persidangan.svg" alt="" class="card-info__img">
        <div class="card-info__text">Informasi Persidangan Kabinet</div>
      </a>
    </div>
    <div class="col-3 center">
      <a href="#" class="card-info">
        <img src="../../images/ico_fungsional.svg" alt="" class="card-info__img">
        <div class="card-info__text">Jabatan Fungsional Penerjemah</div>
      </a>
    </div>
  </div>
</div>